<%- include("template/cabecera") %>
<!-- aca comienza el body -->

    <main class="container">
      <p>Bienvenido a <%= title %></p>
    </main>

<!-- aca termina el body -->
<%- include("template/pieDePagina") %>