    

    <footer>
        <div class="row bg-dark text-white p-5">
            <div class="col-sm-12 col-md-4 text-center">
                <h2>Redes Sociales</h2>
                <div class="row">
                    <div class="col-sm-6">
                        <p><i class="fab fa-facebook-square fa-2x"></i></p>
                        <p><i class="fab fa-instagram fa-2x"></i></p>
                    </div>
                    <div class="col-sm-6">
                        <p><i class="fab fa-twitter fa-2x"></i></p>
                        <p><i class="fab fa-whatsapp fa-2x"></i></p>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-4 text-center">
                <p>Derechos reservados &copy; 2021</p>    
            </div>
            <div class="col-sm-12 col-md-4 text-center">
                <h2>Ver sus pedidos hasta el momento</h2>
                <button class="mt-4 btn btn-lg btn-outline-warning">VER PEDIDOS</button>
            </div>
        </div>        
    </footer>
    <script src="/javascripts/myscript"></script>
    <script src="/javascripts/all.min.js"></script>
    <script src="/javascripts/bootstrap.bundle.min.js"></script>
    </body>
</html>